// Variables
:root {
  --accent-01: #43c8ff;
  --accent-02: #9aebfe;
  --accent-03: #bef2ff;
  --accent-03-rgba-03: rgba(190, 242, 255, 0.3);
  --dark-color: #0e1c3f;
  --text-color: #336b9c;
  --bg-color: #f5fdff;

  --h2-color: #336b9c;
  --hover-menu: #9aebfe;
  --hover-btn-white: #43c8ff;
  --btn-gradient: linear-gradient(45deg, #4481eb 0%, #04befe 100%);
  --shadow-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0) 0, #f5fdff 100%);
}

$black: #222222;
$white: #ffffff;

$ff: "Montserrat", sans-serif;
$fw: 400;
$fz: 16px;
$lh: 1.4;
$container: 1310px;
$indent: 10px;

$md: 768;
$xs: 480;

body {
  margin-bottom: 0 !important;
  font-family: $ff;
  font-weight: $fw;
  font-size: $fz;
  line-height: $lh;
  color: $black;
  background-color: var(--bg-color);
}

#app {
  position: relative;
  max-width: 1920px;
  margin-inline: auto;
  overflow: hidden;
}

.container {
  display: block;
  width: 100%;
  max-width: $container;
  margin-inline: auto;
  padding-inline: $indent;
  @media (max-width: #{$xs}px) {
    max-width: 1100px;
  }
  @media (max-width: #{$md}px) {
    max-width: 600px;
  }
}
