.thank-you {
  position: relative;
  display: block;
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  padding-block: 240px 120px;
  z-index: 10;
}

@media (max-width: 1680px) {
}
@media (max-width: 1366px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
}
