.wpcf7 {
  position: relative;
  display: block;
  width: 100%;
  form.invalid .wpcf7-response-output,
  form.unaccepted .wpcf7-response-output,
  form.payment-required .wpcf7-response-output,
  form.sent .wpcf7-response-output {
    font-size: 12px;
    color: var(--text-color);
    border-color: var(--accent-01);
  }
}
