.wpcf7 {
  position: relative;
  display: block;
  width: 100%;
  .form-title {
    display: block;
    width: 100%;
    margin-bottom: 16px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 28px;
    line-height: var(--font-height);
    color: var(--black-color);
  }
  .form-group {
    display: block;
    width: 100%;
    .form-group_label {
      display: block;
      width: 100%;
      margin-bottom: 4px;
      padding-left: 14px;
      font-family: var(--font-family);
      font-weight: 500;
      font-size: var(--font-size);
      line-height: var(--font-height);
      color: var(--black-color);
    }
    input[type="text"],
    input[type="email"] {
      display: block;
      width: 100%;
      padding: 10px 14px;
      font-family: var(--font-family);
      font-weight: 500;
      font-size: var(--font-size);
      line-height: var(--font-height);
      color: var(--black-color);
      background-color: var(--white-color);
      border-radius: 24px;
      border: 1px solid var(--white-color);
      &::placeholder {
        color: var(--gray-color);
      }
    }
    input[type="checkbox"] {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 80px;
      height: 40px;
      opacity: 0;
      z-index: 2;
    }
    input[type="checkbox"]:checked + .checkbox {
      &:before {
        background-color: var(--accent-color);
        border-color: var(--accent-color);
      }
      &:after {
        animation: checkbox-animate 0.8s ease forwards;
      }
    }
    input[type="submit"] {
      display: block;
      max-width: 100%;
      min-width: 240px;
      padding: 8px 64px;
      font-family: var(--font-family);
      font-size: 18px;
      line-height: var(--font-height);
      text-align: center;
      color: var(--white-color);
      background-color: var(--accent-color);
      border: none;
      border-radius: 32px;
      transition: all 0.2s ease;
    }
    .wpcf7-not-valid-tip {
      display: none;
      width: 100%;
      padding-left: 14px;
      font-family: var(--font-family);
      font-weight: var(--font-weight);
      font-size: 14px;
      color: red;
    }
    .checkbox {
      position: relative;
      width: 80px;
      height: 40px;
      cursor: pointer;
      &:before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background-color: #c4c4c4;
        border: 3px solid #c4c4c4;
        border-radius: 100px;
        transition: all 0.4s ease;
      }
      &:after {
        content: "";
        position: absolute;
        top: 3px;
        left: 3px;
        display: block;
        width: calc(100% - 56%);
        height: calc(100% - 6px);
        background-color: #ffffff;
        border-radius: 100px;
        transition: all 0.4s ease;
      }
    }
    &.form-group-input {
      margin-bottom: 16px;
    }
    &.form-group-checkbox {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;
      margin-bottom: 24px;
      span {
        display: block;
        width: 100%;
        max-width: calc(100% - 102px);
      }
    }
    &.form-group-submit input {
      margin: 0 auto;
    }
  }
  form.invalid .wpcf7-response-output,
  form.unaccepted .wpcf7-response-output,
  form.payment-required .wpcf7-response-output,
  form.sent .wpcf7-response-output {
    font-size: 12px;
    color: var(--text-color);
    border-color: var(--accent-01);
  }
}

@keyframes checkbox-animate {
  0% {
    left: 3px;
  }
  10% {
    left: 3px;
    width: calc(100% - 50%);
  }
  90% {
    left: calc(100% - 46%);
  }
  100% {
    left: calc(100% - 46%);
    width: calc(100% - 56%);
  }
}
