.descr {
  position: relative;
  display: block;
  width: 100%;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: var(--font-size);
  line-height: var(--font-height);
  color: var(--black-color);
}

@media (max-width: 1680px) {
}
@media (max-width: 1366px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
}
