@mixin blockTitleStart {
  max-width: 0;
  transition: all 1s ease;
}
@mixin blockTitleStop {
  max-width: 380px;
  transition: all 1s ease;
}

.is_animate {
  .block__title {
    &:after {
      @include blockTitleStart;
    }
    &.isAnime:after {
      @include blockTitleStop;
    }
  }
}
