.block-title {
  display: block;
  width: 100%;
}

.h2 {
  position: relative;
  display: inline;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.4;

  --underline-width-scale: calc(var(--underline-width) / var(--underline-intrinsic-width));
  padding: 0 calc(var(--underline-padding-x) + calc(var(--underline-cap-width) * var(--underline-width-scale)));
  box-decoration-break: clone;
  background-repeat: no-repeat;
  background-image: linear-gradient(180deg, var(--underline-color), var(--underline-color));
  background-position-x: calc(var(--underline-cap-width) * var(--underline-width-scale)), 0, 100%;
  background-position-y: calc(100% - var(--underline-offset-y) * -1);
  background-size:
    calc(100% - calc(var(--underline-cap-width) * var(--underline-width-scale) * 2)) calc(var(--underline-width) * 1px),
    auto calc(var(--underline-width) * 1px),
    auto calc(var(--underline-width) * 1px);
}
